@import "./base.css";
@import "primeicons/primeicons.css";

.bp-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.bp-form-inputs, .bp-form-buttons-save-cancel {
  display: flex;
  gap: 1rem 1rem;
}

.bp-form-buttons {
  display: flex;
  justify-content: space-between;
}
