@import "./base.css";
@import "primeicons/primeicons.css";

.bp-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.bp-form-buttons-save-cancel {
  display: flex;
  gap: 1rem 1rem;
}
.bp-form--text-inputs-container {
  display: flex;
  gap: 1rem 1rem;
  flex-wrap: wrap;
}

.bp-form-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.bp-form-inputs-item-text {
  flex: 1 3 12rem;
}

.bp-form-inputs-item-select {
  flex: 2 1 auto;
}